<section class="container">
  <ul>
    <li>
      <h1><%= @contact.first_name %> <%= @contact.last_name %></h1>
      <hr>
      <p><strong>Email:</strong> <%= @contact.email %></p>
      <p><strong>Note:</strong></p>
      <p><%= @contact.note %></p>
    </li>
    <li>
      <form action="/edit">
        <input type="submit" value="Edit Contact" />
      </form>
      <form action='/contacts/<%= @contact.id %>' method='post'>
        <input type='hidden' name='_method' value='delete'>
        <input type='submit' value='Delete Contact'>
      </form>
    </li>
  </ul>
</section>
